body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(183, 192, 255);
}

p {
  font-size: 50px;
  color: rgb(55, 84, 137);
}

.bounce p {
  position: absolute;
  z-index: 1;
}

.bounce > .ball {
  background-color: rgba(159, 53, 192, 0.933);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: bounce 1s infinite alternate ease-in;
}

.shadow {
  width: 0px;
  height: 0px;
  position: absolute;
  background-color: rgba(41, 6, 51, 0.933);
  margin-top: 56%;
  border-radius: 50%;
  animation: shadow 1s infinite alternate ease-out;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(395px);
  }
  80% {
    height: 50px;
  }
  100% {
    height: 25px;
  }
}

@keyframes shadow {
  90% {
    height: 0px;
    width: 10px;
  }
  100% {
    height: 8px;
    width: 100px;
  }
}

.pulse {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.pulser {
  width: 30px;
  height: 30px;
  background: rgba(198, 39, 142, 0.933);
  border-radius: 50%;
  position: relative;
  z-index: 0;
}

.pulser::after {
  animation: pulse 0.8s ease-out infinite;
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: rgba(198, 39, 142, 0.933);
  z-index: -1;
}

@keyframes pulse {
  from {
    transform: scale(0.99);
    opacity: 0.99;
  }
  to {
    transform: scale(2);
    opacity: 0.01;
  }
}

.heartbeat {
  width: 30px;
  height: 30px;
  background: rgba(198, 39, 142, 0.933);
  border-radius: 50%;
  position: relative;
  z-index: 0;
  animation: heartbeat 2s infinite;
}

.heartbeat::after {
  content: "";
  width: 30px;
  height: 30px;
}

@keyframes heartbeat {
  0%,
  100% {
    transform: scale(1);
  }
  10%,
  30% {
    transform: scale(1.5);
  }
  20%,
  40% {
    transform: scale(1);
  }
}

.progress {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: rgba(61, 67, 117, 0.662);
  animation: progress linear forwards;
  animation-timeline: scroll(block);
  transform-origin: left;
  scale: 0 1;
}

@keyframes progress {
  to {
    scale: 1 1;
  }
}

.reveal {
  flex-direction: column;
}

.object {
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background-color: rgb(255, 59, 59);
  animation: reveal linear;
  animation-timeline: view(50px);
}

@keyframes reveal {
  from {
    opacity: 0;
    width: 0;
    height: 0;
  }
  to {
    opacity: 1;
    width: 500px;
    height: 500px;
  }
}
